
/* Global */
* {
  font-family:'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ad7893;
  color: #F9F6EE;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
  overflow-y: hidden;
  overflow-x: scroll;
}

.login-in-container {
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 20vh;
  font-size: larger;
}

/*
.login-button {
  background: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
} */

header {
  display: flex;
  flex-direction: column;
  background-color: #b6ffd0;
  width: 100vw;
  height: 20vh;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.user-welcome {
  color: #01834e;
  font-size: 3vw;
  font-weight: 500;
  font-style: unset;
}

.logo-title {
  width: 1.5vw;
  height: .7vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12%;
  margin-right: 80%;
}

.logo-image {
  align-items: center;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  margin-bottom: 80%;
  width: 80%;
  margin-right: 30px;
}

/* ~~~~~~~~~~~~~ Book a trip FORM ~~~~~~~~~~~~~~~ */
.form-view {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  height: 35vh;
  margin-top: 5%;
  margin-left: 5%;
  color: black;
  font-size: large;
  font-weight: bolder;
  line-height: 1.3;
}

form > label{
  width: 50%;
}

form > input {
  margin-bottom: 20px;
  width: 50%;
}

form > button {
  background: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
}

form > button:hover {
  background: #e07999;
  color: white;
}

.user-information {
  margin: 39px;
  width: 40vw;
  height: 20vh;
}

.login-view {
  width: 50vw;
  height: 20vh;
}

.user-money {
  font-size: x-large;
  color: white;
  font-weight: bolder;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F9F6EE;
  width: 95vw;
  height: 62.5vh;
  border-radius: 25px;
  overflow-x: hidden;
  border-color: green;
  margin-bottom: 5%;
  margin-top: 50px;
}

.main-section-title {
  color: green;
}

.home-view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F9F6EE;
  width: 100vw;
  height: 62.5vh;
  border-radius: 25px;
  border-style: dotted;
  border-color: red;
  overflow-y: hidden;
  overflow-x: scroll;
}

.box-of-destinations {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  width: 100vw;
  height: 65vh;
  overflow-y: hidden;
  overflow-x: scroll;
}

.destination-pic-box {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  height: 40vh;
  border-radius: 20px;
  margin-left: 7vw;
  margin-right: 1vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

h3 {
  margin-left: 10%;
  font-weight: bold;
  color: black;
  font-size: x-large;
}

.card-text {
  display: flex;
  margin-left: 20;
  color: black;
  width: 90vw;
  height: 2vh;
}

/* Hidden */
.hidden {
  display: none;
}
